.sentences-tone {
  margin: 20px;
}

.sentences-tone h2 {
  text-align: center;
}

.sentences-wrap {
  display: flex;
}

.sentences {
  border: 1px solid #f2f2f2;
  box-sizing: border-box;
  font-size: 18px;
  font-weight: 300;
  line-height: 26px;
  margin: 20px;
  max-width: 600px;
  min-width: 300px;
  padding: 15px;
  width: 50%;
}

.tones-list {
  box-sizing: border-box;
  line-height: 22px;
  padding: 20px 15px;
  width: 50%;
}

.sentence-tone-item {
  margin: 15px;
}

.tones-list button {
  background: #f2f2f2;
  border: none;
  box-sizing: border-box;
  display: inline-block;
  font-size: 12px;
  height: 40px;
  width: 48%;
}

.tones-list .active {
  background: blue;
  color: white;
}

@media screen and (max-width: 750px ) {
  .sentences-wrap{
    display: flex;
    flex-wrap: wrap;
  }

  .sentences, .tones-list {
    width: 100%;
    min-width: 300px;
  }
}