.tone-category {
  font-weight: 700;
}

.sadness, .Sadness {
  color: blue;
}

.analytical, .Analytical {
  color: green;
}

.tentative, .Tentative {
  color: orange;
}

.confident, .Confident {
  color: magenta;
}

.angry, .Angry {
  color: red;
}

.joy, .Joy {
  color: purple;
}
