.tone-category {
  font-weight: 700;
}

.sadness, .Sadness {
  color: purple;
}

.analytical, .Analytical {
  color: green;
}

.tentative, .Tentative {
  color: #4CCEE8;
}

.confident, .Confident {
  color: magenta;
}

.angry, .Angry {
  color: red;
}

.fear, .Fear {
  color: orange;
}

.positive, .Positive {
  color: blue;
}
