@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

* {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6, p, li, a, button, input, textarea, div {
  font-family: 'Open Sans', sans-serif;
}

textarea {
  resize: none;
}

button {
  cursor: pointer;
}

h1 {
  font-size: 28px;
  font-weight: 800;
}

h2 {
  font-size: 24px;
  font-weight: 700;
}

h3 {
  font-size: 18px;
}