.about {
  width: 100%;
}

.about h2 {
  text-align: center;
  margin: 20px;
}

.about .text-wrap {
  min-width: 300px;
  max-width: 600px;
  margin: 20px auto;
}

.about p {
  line-height: 20px;
  margin: 20px;
}