.analyzer-form {
  margin: 20px;

}

.analyzer-form textarea {
  display: block;
  width: 300px;
  height: 200px;
  margin: 20px;
}

.btn-wrap {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.get-example {
  background-color: #f2f2f2;
  box-sizing: border-box;
  display: inline-block;
  font-size: 12px;
  height: 40px;
  width: 120px;
  border: none;
}

.submit {
  background: #f2f2f2;
  border: none;
  display: inline-block;
  font-size: 12px;
  height: 40px;
  padding: 10px;
  width: 120px;
}

.get-example:hover {
  cursor: pointer;
}

.get-example:active,
.submit:active {
  background: blue;
}
