.analyzer-input-wrap {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  width: 100%;
}

.analyzer-form {
  display: flex-wrap;
  margin: 20px;
  max-width: 600px;
  min-width: 300px;
  width: 100%;
}

.analyzer-form textarea {
  box-sizing: border-box;
  width: 100%;
  font-size: 16px;
  line-height: 22px;
  display: flex;
  min-width: 300px;
  min-height: 300px;
  margin: 20px 0;
  padding: 20px;
}

.btn-wrap {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.get-example,
.submit {
  background-color: #f2f2f2;
  border: none;
  box-sizing: border-box;
  display: inline-block;
  font-size: 14px;
  height: 44px;
  width: 48%;
}

.get-example:hover {
  cursor: pointer;
}

.get-example:active,
.submit:active {
  background: blue;
}

.analyzer-input-wrap .alert {
  font-size: 12px;
  width: 100%;
  margin: 15px 0;
}
