.document-tone {

}

.document-tone h2 {
  text-align: center;
  margin-top: 20px;
  font-weight: 700;
}

.analysis-wrap {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px;
}

.tone-list {
  min-width: 200px;
  max-width: 600px;
}

.analysis-wrap h3 {
  margin: 15px 0 15px;
  font-weight: 700;
}

.analysis-wrap p {
  margin: 10px 0;
}

@media screen and (max-width: 750px) {
  .analysis-wrap {
    flex-wrap: wrap;
  }
}
