.document-tone {
  display: flex;
  justify-content: center;
}

.analysis-wrap {
  margin: 20px;
  min-width: 200px;
}

.analysis-wrap h2 {
  font-size: 22px;
  font-weight: 700;
}

.analysis-wrap h3 {
  margin: 20px 0;
  font-weight: 700;
  font-size: 18px;
}

.analysis-wrap p {
  margin: 10px 0;
}

@media screen and (max-width: 750px) {
  .document-tone {
    flex-wrap: wrap;
  }
}
