.nav-header {
  width: 100%;
  min-width: 320px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d2d2d2;
}

.nav-header nav {
  display: flex;
}

.nav-header h1 {
  margin: 20px; 
}

.nav-header h1 a span {
  color: #003780f0;
}

.nav-header h1 a  {
  color: #0000ffcf;
}

.nav-header nav div {
  margin: 20px;
}

.nav-header .active {
  color: blue;
}

@media screen and ( max-width:500px){
  .nav-header {
    justify-content: center;
    flex-wrap: wrap;
  }

  .nav-header h1 {
    font-size: 36px;
    margin: 30px auto 0;
  }
}
